<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultLanguage" value="en" />
    <add key="defaultRights" value="Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)" />
    <add key="defaultSource" value="http://blog.iblamethepatriarchy.com" />
    <add key="defaultTitle" value="I Blame The Patriarchy" />
    <add key="defaultSourceFolder" value="C:\Users\Eric\Documents\IBTPSources\2005" />
    <add key="defaultTitlePage" value="titlepage.html" />
 
    <!-- By default the epub file will be created in your My Documents folder.
    You can change the output path here by setting the value of the element below. 
    Don't forget to make sure you have write-access to the specified path. -->
    <!-- <add key="outputPath" value="C:\some\path" /> -->

    <!-- By default the temporary files created in the process of creating the epub file
    will be deleted after the file has been created. To preserve these files set the
    value of the element below "true". -->
    <add key="PreserveTempFiles" value="true" />
  </appSettings>
</configuration>
